@font-face {
  font-family: 'Avenir-Black';
  src:  url('fonts/Avenir-Black.svg') format('svg'),
        url('fonts/Avenir-Black.woff') format('woff'),
        url('fonts/Avenir-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Book';
  src:  url('fonts/Avenir-Book.svg') format('svg'),
        url('fonts/Avenir-Book.woff') format('woff'),
        url('fonts/Avenir-Book.ttf') format('truetype');
}