// Colors
$brown: #473e3b;
$darkBrown: #2a2322;
$red: #eb3156;
$yellow: #f6ffd5;
$green: #8ca920;
$white: #FFFFFF;
$blue: #44ccf8;

// Sizes
$desktop: min-width 1025px;
$tablet: max-width 600px;
$mobile: max-width 500px;

// Fonts
$avenirBlack: 'Avenir-Black', 'Helvetica', 'Arial', sans-serif;
$avenirBook: 'Avenir-Book', 'Helvetica', 'Arial', sans-serif;